{##
 # Order Refunds plugin for Craft CMS 3.x
 #
 # Detailed refunds for Craft Commerce orders
 #
 # @author Yoannis Jamar
 # @copyright Copyright (c) 2017 Yoannis Jamar
 # @link https://github.com/yoannisj
 # @package craft-order-refunds
 #
 #}

{##
 # Template 'order-refunds/_patials/refund-editor'
 #
 # @var {\yoannisj\orderrefunds\models\Refund} refund
 #
 # @since 0.1.0
 #}

<article class="refund-editor refund">
    <header class="refund-header">
        <h3 class="refund-title">{{ refund.reference }}</h3>
        <p class="refund-caption extralight">{{ refund.transactionDate | date }}</p>
        {% if refund.isRevisable %}
            <button type="button" class="refund-edit btn-link btn-link-default">{{ 'Edit' | t('craft') }}</button>
        {% endif %}
    </header>

    <div class="refund-main" role="presentation">

        <div class="refund-summary">
            <ul class="refund-summary-detail">
                <!-- =line-items -->
                <li class="refund-summary-lineitems">
                    <strong>{{ 'Line Items' | t('commerce') }}:</strong>
                    <br/><span>
                        {%- if refund.lineItems is empty -%}
                            {{ 'No line items' | t('order-refunds') }}
                        {%- else -%}
                            {%- for lineItem in refund.lineItems -%}
                                {{- lineItem.description }}: <span class="code">{{ lineItem.qty }}</span>
                                {%- if not loop.last %}, {% endif -%}
                            {%- endfor -%}
                        {%- endif -%}
                    </span>
                </li>

                <!-- =shipping -->
                <li class="refund-summary-shipping">
                    <strong>{{ 'Shipping' | t('commerce') }}:</strong>
                    <br/><span>{{ (refund.includesShipping ? 'Yes' : 'No') | t('order-refunds') }}</span>
                </li>

                <!-- =note -->
                <li class="refund-summary-note">
                    <strong>{{ 'Refund Note' | t('commerce') }}:</strong>
                    {%- if refund.note is not empty -%}
                        <br/><span>{{ refund.note }}</span>
                    {% else %}
                        <br/><small class="extralight">n/a</small>
                    {% endif %}
                </li>

                <!-- =amount -->
                <li class="refund-summary-amount">
                    <strong>{{ 'Refund Amount' | t('commerce') }}</strong>
                    <br><span>{{ refund.transaction.amount | currency(refund.transaction.currency) }}</span>
                </li>
            </ul>
        </div>

        {% if refund.isRevisable %}
            {% include 'order-refunds/_partials/refund-form' with {
                refund: refund,
            } only %}
        {% endif %}

    </div>

</article>