{##
 # Order Refunds plugin for Craft CMS 3.x
 #
 # Detailed refunds for Craft Commerce orders
 #
 # @author Yoannis Jamar
 # @copyright Copyright (c) 2017 Yoannis Jamar
 # @link https://github.com/yoannisj
 # @package craft-order-refunds
 #
 #}

{##
 # Template 'order-refunds/_partials/order-detail'
 #
 # @var {\craft\commerce\elements\Order} order
 # @var {\yoannisj\orderrefunds\models\Refund} refund
 #
 # @since 0.1.0
 #}

{% import "_includes/forms" as forms %}

{% set includesAllLineItems = refund.getIncludesAllLineItems() %}
{% set includesShipping = refund.getIncludesShipping() %}
{% set lineItemsTableData = craft.orderRefunds.getRefundDetailLineItemsTableData(refund) %}
{% set hasLineItems = (lineItemsTableData is not empty) %}
{% set transactionNote = refund.getTransactionNote() %}

<article class="order-refund">

    <header class="refund-header">
        <h3 class="refund-reference">{{ refund.reference }}</h3>
        <p class="refund-date extralight"><small>{{ refund.transactionDate|date('Y/m/d H:i') }}</small></p>
    </header>

    <div class="refund-detail">
        <div class="refund-options">
            <div class="refund-allitems">
                {{ forms.lightswitchField({
                    label: 'Includes all line items' | t('order-refunds'),
                    on: includesAllLineItems,
                    disabled: true,
                }) }}
            </div>

            <div class="refund-shipping">
                {{ forms.lightswitchField({
                    label: 'Includes shipping' | t('order-refunds'),
                    on: includesAllLineItems,
                    disabled: true,
                }) }}
            </div>
        </div>

        {% if hasLineItems %}
            <div class="refund-items">
                {% if lineItemsTableData is not empty %}
                    {{ forms.editableTableField({
                        label: 'Line items',
                        cols: lineItemsTableData.cols,
                        rows: lineItemsTableData.rows,
                        static: true,
                    }) }}
                {% endif %}
            </div>
        {% endif %}

        <div class="refund-note">
            {{ forms.textField({
                label: 'Transaction note' | t('order-refunds'),
                value: transactionNote,
                readonly: true,
            }) }}
        </div>

        <footer class="refund-footer">
            <p class="refund-total">
                <span>Total</span>
                <strong class="refund-total">{{ refund.totalPrice | currency(refund.paymentCurrency) }}</strong>
            </p>
        </footer>
    </div>

</article>