{##
 # Order Refunds plugin for Craft CMS 3.x
 #
 # Detailed refunds for Craft Commerce orders
 #
 # @author Yoannis Jamar
 # @copyright Copyright (c) 2017 Yoannis Jamar
 # @link https://github.com/yoannisj
 # @package craft-order-refunds
 #
 #}

{##
 # Template 'order-refunds/order-refunds'
 #
 # @var {\craft\commerce\elements\Order} order
 #
 # @since 0.1.0
 #}

{% import "_includes/forms" as forms %}

{% set refunds = craft.orderRefunds.getRefundsForOrder(order) %}
{% set refundableTransactions = craft.orderRefunds.getRefundableTransactions(order) %}

<div id="order-refunds" class="refunds" style="display: none;">

    {% if refunds is not empty %}
        {% for refund in refunds %}
            <hr />
            {% include 'order-refunds/_partials/refund-editor' with {
                refund: refund,
            } only %}
        {% endfor %}
    {% endif %}

    {% if refundableTransactions is not empty %}

        {% set refundableTransactionOptions = craft.orderRefunds.getRefundableTransactionOptions(order) %} 
        {% set lineItemsTableData = craft.orderRefunds.getRefundableLineItemsTableData(order) %}
        {% set hasLineItems = (lineItemsTableData is not empty) %}
        {% set canRefundShipping = craft.orderRefunds.canRefundOrderShipping(order) %}

        <hr />

        <div class="refund refund-editor">
            <div class="refund-main refund-main--new" role="presentation">

                <div class="refund-summary">
                    <div class="refund-summary-controls text-right">
                        <a class="refund-create btn" href="#new-refund-form">{{ 'New Refund' | t('order-refunds') }}</a>
                    </div>
                </div>

                <div id="new-refund-form" class="refund-form">
                    {{ csrfInput() }}

                    <div class="refund-form-transaction">
                        {{ forms.selectField({
                            label: 'Refunded Transaction' | t('order-refunds'),
                            instructions: 'Select order transaction to refund' | t('order-refunds'),
                            options: refundableTransactionOptions,
                        }) }}
                    </div>

                    <div class="refund-form-lineitems">
                        <!-- =lineItemsData -->
                        {{ forms.editableTableField({
                            id: 'refund-new-lineitems',
                            label: 'Line Items' | t('commerce'),
                            instructions: 'Select which line items are covered by this refund' | t('order-refunds'),
                            name: 'lineItemsData',
                            cols: lineItemsTableData.cols,
                            rows: lineItemsTableData.rows,
                            staticRows: true,
                        }) }}
                        <span class="refund-form-itemsubtotal">
                            {{- 0 | currency(order.paymentCurrency) -}}
                        </span>
                    </div>

                    <div class="refund-form-shipping">
                        {{ forms.lightswitchField({
                            id: 'refund-new-shipping',
                            label: 'Includes Shipping',
                            instructions: 'Whether this refund covers shipping costs' | t('order-refunds'),
                            name: 'includesShipping',
                            on: false,
                            fieldAttributes: {
                                class: 'refund-shipping-field field',
                            },
                        }) }}
                        <span class="refund-form-shippingcost">
                            {{- order.totalShippingCost | currency(order.paymentCurrency) -}}
                        </span>
                    </div>

                    <div class="refund-form-note">
                        {{ forms.textField({
                            id: 'refund-new-note',
                            label: 'Transaction note' | t('commerce'),
                            instructions: "Add an optional note to the refund transaction" | t('order-refunds'),
                            name: 'note',
                            value: '',
                            placeholder: '',
                        }) }}
                    </div>

                    <div class="refund-form-actions">
                        <button type="button" class="refund-form-cancel btn">{{ 'Cancel' | t('commerce') }}</button>
                        <button type="submit" class="refund-form-submit btn submit formsubmit"
                            data-action="{{ actionUrl('orderrefunds/refunds/save') }}"
                            data-confirm="{{ 'Are you sure you want to refund this transaction?' | t('commerce') }}"
                            data-redirect="{{ cpUrl(craft.app.request.pathInfo) }}"
                        >{{ 'Refund' | t('commerce') }}</button>
                    </div>

                </div>
            </div>
        </div>

    {% endif %}
</div>